{
    "tailwindConfig": "./tailwind.config.js",
    "tailwindStylesheet": "./ressources/css/app.css",
    "semi": false,
    "singleQuote": true,
    "printWidth": 100,
    "plugins": ["prettier-plugin-tailwindcss"],
    "overrides": [
        {
            "files": ["*.blade.php"],
            "options": {
                "parser": "html",
                "tabWidth": 4,
                "htmlWhitespaceSensitivity": "ignore"
            }
        }
    ]
}